
<section class=" slider_section">
    <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Your Saftey&nbsp;<br>
                                    <span>Our Responsibility&nbsp;</span>
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod magna aliqua. Ut enim ad minim veniam
                                </p>
                                <div class="btn-box">
                                    <a class="btn-1" href="">Read more </a><a class="btn-2" href="">Get A Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Your Saftey&nbsp;<br>
                                    <span>Our Responsibility&nbsp;</span>
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod magna aliqua. Ut enim ad minim veniam
                                </p>
                                <div class="btn-box">
                                    <a class="btn-1" href="">Read more </a><a class="btn-2" href="">Get A Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Your Saftey&nbsp;<br>
                                    <span>Our Responsibility&nbsp;</span>
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod magna aliqua. Ut enim ad minim veniam
                                </p>
                                <div class="btn-box">
                                    <a class="btn-1" href="">Read more </a><a class="btn-2" href="">Get A Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container idicator_container">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0">
                    &nbsp;
                </li>
                <li class="" data-target="#carouselExampleIndicators" data-slide-to="1">
                    &nbsp;
                </li>
                <li class="" data-target="#carouselExampleIndicators" data-slide-to="2">
                    &nbsp;
                </li>
            </ol>
        </div>
    </div>
</section>